footer {
	height: 125px;
	background-color: $black;
	color: $white;
	padding: 15px 0;
	.flex {
		height: 50px;
	}
	.disclaimer {
		font-size: .75em;
		height: 25px;
	}
	.container {
		width: 95%;
	}
	.top {
		margin-bottom: 25px;
	}
	a {
		color: $white;
		text-decoration: underline;
	}
}
