// @import "../node_modules/bulma/bulma";
@import "variables";
@import "utilities";
@import "misc";
@import "text";
@import "tables";
@import "logo";
@import "footer";

* {
	font-family: sans-serif;
}

html, body {
	margin: 0;
}

.container {
	width: 85%;
}
