* {
	line-height: 1.35em;
}

.h-1_5 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

.right {
	width: 250px;
}

.time-header {
	width: 25%;
}

.tweet-header {
	width: 75%;
	padding-top: 33px;
}

.tweet-text {
	width: 75%;
	font-size: .75em;
	overflow: scroll;
}

