* {
	line-height: 1.35em;
}

.h-1_5 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

.right {
	width: 250px;
}

// Remove text decoration from other links
.no-underline {
	text-decoration: none;
}
