<footer>
	<div class="container m-0-auto flex">
		<p>Starfleet logo by Chris from the <a href="https://thenounproject.com">Noun Project</a></p>
		<p class="text-right"><img src="images/twitter-logo.png" alt="" class="twitter-logo">
			<span class="vertical-align-center">
				<a href="https://twitter.com/hollyamos22" class="no-underline">@hollyamos22</a>
			</span>
		</p>
	</div>
</footer>
