<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Holly Amos tweets all the Star Trek</title>
		<link rel="stylesheet" href="/views/css/style.css">
	</head>
	<body>
		<div class="container m-0-auto">
			<h1 class="text-center">
				<a href="https://twitter.com/hollyamos22">@hollyamos22</a>
				tweets all the Star Trek
			</h1>
			<table>
				<thead>
					<tr class="header-row">
						<th scope="col" class="table-header text-center">Timestamp (UTC)</th>
						<th scope="col" class="table-header text-center">Tweet</th>
					</tr>
					<tbody>
						{% for tweet in tweets %}
							<tr>
								<td>{{ tweet.time() }}</td>
								<td>{{ tweet.formattedText() }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</thead>
			</table>
		</div>
	</body>
</html>
