<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th scope="col">Timestamp</th>
					<th scope="col">Tweet</th>
				</tr>
				<tbody>
					{% for tweet in tweets %}
						<tr>
							<td style="width: 25%;">{{ tweet.time() }}</td>
							<td>{{ tweet.formattedText() }}</td>
						</tr>
					{% endfor %}
					
				</tbody>
			</thead>
		</table>
	</body>
</html>