@media only screen and (min-width: 768px) {
	.tweet-header {
		padding-top: 0;
	}

	.tweet-text {
		font-size: 1em;
	}
	
	footer > .container,
	.container {
		width: 85%;
	}

	footer {
		height: 100px;
	}

	.short-time {
		display: none;
	}

	.time {
		width: 25%;
		display: inline;
	}

	.twitter-logo {
		width: 9.5%;
	}
}


